<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo #####</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="rating" id="calificacion">
            <input value="5" name="rate" id="star5" type="radio">
            <label title="text" for="star5"></label>
            <input value="4" name="rate" id="star4" type="radio">
            <label title="text" for="star4"></label>
            <input value="3" name="rate" id="star3" type="radio" checked="">
            <label title="text" for="star3"></label>
            <input value="2" name="rate" id="star2" type="radio">
            <label title="text" for="star2"></label>
            <input value="1" name="rate" id="star1" type="radio">
            <label title="text" for="star1"></label>
          </div>         
            <label for="nombre">Nombre:</label>
            <input id="nombre" type="text" class="form-control">
            <label for="subNombre">Nombre Alterno:</label>
            <input type="text" id="subNombre" class="form-control">
            <label for="img">Agregar Imagen</label>
            <input id="img" type="file" class="form-control"><br>
            <label for="personaje">Personajes Favoritos:</label>
            <input id="personaje" type="text" class="form-control">
            <label for="temp">Temporadas</label>
            <input id="temp" type="number" class="form-control">
            <label for="categoria">Categoria</label>
            <select class="form-control" name="" id="categoria">
                <option value="null"></option>
            </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>