<div class="offcanvas offcanvas-start" tabindex="-1" id="menuLateral" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel"><i class="fa-solid fa-fire fa-lg" style="color: #ffffff; margin-right: 10px;"></i> Offcanvas</h5>
    </div>
    <div class="offcanvas-body">
        <hr>
        <div id="cont" class="nav-item">
            <a href="#" class="nav-link"><i class="bi bi-house-door"></i> Home 1</a>
        </div>
        <div id="cont" class="nav-item">
            <a href="#" class="nav-link"><i class="bi bi-speedometer2"></i> Home 2</a>
        </div>
        <div id="cont" class="nav-item">
            <a href="#" class="nav-link"><i class="bi bi-terminal-dash"></i> Home 3</a>
        </div>
        <div id="cont" class="nav-item">
            <a href="#" class="nav-link"><i class="bi bi-envelope-dash"></i> Home 4</a>
        </div>
        <div id="cont" class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#collapseMenu" role="button" aria-expanded="false" aria-controls="collapseMenu">
                <i class="fa-regular fa-square-minus" style="color: #ffffff;"></i> Link with href
            </a>
        </div>
        <div class="collapse" id="collapseMenu">
            <div class="card card-body" id="collapseCont">
                <ul class="list-group list-group-flush" style="list-style-type: none;">
                    <li id="cont3">1ra opcion</li>
                    <li id="cont3">2da opcion</li>
                    <li id="cont3">3ra opcion</li>
                </ul>
            </div>
            </div>
    </div>
    <div class="container-fluid"><hr></div>
    <div class="offcanvas-footer">
        <div class="nav-item" id="cont2">
            <a href="" class="nav-link">logout <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i></a>
        </div>
    </div>
</div>




